#sec-1, #sec-3{
    background-color: rgb(245, 240, 230);
}

#sec-2{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: #fff;
    width: 100%;

}

#sec-4{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: #fff;
    width: 100%;
}

div{
    display: inline-block;
}

#navbar{
    width: 100%;
    background-color: #fff;
}

#navbar li {
    display: inline;
}

#navbar li:hover{
    background-color: #182b49;
    color: #fff;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

#navbar {
    background-color: #fff;
    position: sticky;
    top:0;
    overflow: hidden;
    font-size: 28px;
}

#navbar img{
    max-width: 400px;
}

.section{
    scroll-margin-top: 80px;
}

.section img{
    max-width: 100%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-row: 1;
}

.grid-content {
    background-color: #182b49;
    max-height: 500px;
    overflow: scroll;
    color: #fff;
}

@media screen and (max-width: 800px) {
    a{
        display: none;
    }

    #navbar img{
        max-width: 75%;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 20px;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        grid-row: 2;
    }
    
}